# Ignore these things...

.DS_Store
.sass-cache

ref
intermediate
publish

build/buildinfo.properties
build/config/buildinfo.properties

*.css
app.css

# temp

styles/css_backup
content.html
js/app-v1.js