/*
 *
 * Title:   Emergent Task Timer
 * Author:  Daniel Marino
 * Revised: July 2010
 *
 */

* {
  margin: 0;
  padding: 0;
}

a {
  color: #00a7e6;
}

body {
  background: #fff;
  font-family: HelveticaNeue-Light, helvetica, arial, verdana, sans-serif;
  font-size: 12px;
  line-height: 1.5;
  margin: 15px;
}

header,
#prefs > div {
  border: 1px solid #ccc;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  display: block;
  margin: 20px 0;
  padding: 10px;
}

#prefs {
  display: none;
}

h1 {
  float: left;
}

.controls {
  float: right;
}


/* Tables
----------------------------------------------------------------------------------------------------*/

table {
  border-collapse: collapse;
  margin: 50px 0;
  width: 100%;
}

th, td {
  border-bottom: 1px solid #e5e5e5;
  padding: 5px;
  text-align: left;
  vertical-align: middle;
  width: 56px;
}

th:first-child {
  width: auto;
}

tbody th {
  font-weight: normal;
}

tbody td:nth-child(even) {
  background: #efefef;
}

tfoot th, tfoot td {
  background: none;
  border: 0;
}


/* Forms
----------------------------------------------------------------------------------------------------*/

.task_title label {
  display: none;
}

.task_title input {
  background: -webkit-gradient(linear, 0% 0%, 0% 10%, from(#c3c3c3), to(#fff));
  background: -moz-linear-gradient(0% 10% 90deg, #fff, #c3c3c3);
  border: 1px solid #c3c3c3;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #7c7c7c;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  padding: 5px;
  width: 100%;
}

.task_title input:focus {
  -webkit-box-shadow: 0 0 3px rgba(4, 175, 239, 1);
  -moz-box-shadow: 0 0 3px rgba(4, 175, 239, 1);
  box-shadow: 0 0 3px rgba(4, 175, 239, 1);
}

.task_title input.has_value {
  background: #fff;
  border: 0;
  padding: 6px;
}

.task_title input.has_value:hover {
  background: rgba(4, 175, 239, .1);
}

.increment {
  float: left;
  height: 25px;
  overflow: hidden;
  margin: 0 1px;
  width: 12px;
}

.increment label {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e5e5e5), to(#ebebeb));
  background: -moz-linear-gradient(19% 75% 90deg, #ebebeb, #e5e5e5);
  border: 1px solid #ccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: 100%;
  overflow: hidden;
  text-indent: -5000px;
  width: 100%;
}

.increment input {
  display: none;
}

.active {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#62cdf5), to(#04afef)) !important;
  background: -moz-linear-gradient(19% 75% 90deg, #04afef, #62cdf5) !important;
  border: 1px solid #00a7e6 !important;
}


/* Media Queries for Portable Devices
----------------------------------------------------------------------------------------------------*/

@media screen and (max-width:800px) {

  th, td {
    padding: 2px;
    text-align: center;
    width: 15px;
  }

  th:first-child,
  td:first-child {
    padding: 5px;
    text-align: left;
  }

  .increment {
    margin: 1px;
  }

}


/* Misc
----------------------------------------------------------------------------------------------------*/

.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}


