/*
 *
 * Title:   Daily Task Tracker
 * Author:  Daniel Marino
 * Revised: August 2010
 *
 */

* {
  margin: 0;
  padding: 0;
}

a {
  color: #00a7e6;
}

body {
  background: #fff;
  font-family: HelveticaNeue-Light, helvetica, arial, verdana, sans-serif;
  font-size: 12px;
  line-height: 1.5;
  margin: 15px;
}

footer {
  border-top: 1px solid #e5e5e5;
  margin-top: 30px;
  padding: 5px 0;
}

header {
  background: #434343;
  color: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  display: block;
  line-height: 40px;
  margin: 20px 0;
  padding: 5px;
}

h1 {
  float: left;
  font-family: HelveticaNeue-CondensedBold, helvetica, arial, verdana, sans-serif;
  font-size: 26px;
  font-weight: bold;
  margin: 0 5px;
  text-shadow: 0 -1px 2px rgba(0, 0, 0 , .75);
  text-transform: uppercase;
}

h2#today {
  background: #fff;
  font-family: HelveticaNeue, helvetica, arial, verdana, sans-serif;
  font-size: 14px;
  font-weight: normal;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #434343;
  display: block;
  float: right;
  padding: 0 15px;
}

p {
  margin-bottom: 10px;
}

#add_task,
#clear_data {
  background: #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  float: left;
  font-family: HelveticaNeue, helvetica, arial, verdana, sans-serif;
  font-size: 11px;
  line-height: 19px;
  margin-right: 5px;
  padding: 0 5px;
  opacity: .8;
  text-decoration: none;
  text-shadow: 0 -1px 2px rgba(0, 0, 0, .15);
  -webkit-transition: opacity .2s linear;
  transition: opacity .2s linear;
}

#add_task {
  background: #00de36;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#5fd053), to(#18cb05));
  background: -moz-linear-gradient(100% 100% 90deg, #18cb05, #5fd053);
  border: 1px solid #12c400;
}

#clear_data {
  background: #bbb;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#c8c8c8), to(#a9a9a9));
  background: -moz-linear-gradient(100% 100% 90deg, #a9a9a9, #c8c8c8);
  border: 1px solid #a4a4a4;
}

#add_task:hover,
#clear_data:hover {
  opacity: 1;
}


/* Tables
----------------------------------------------------------------------------------------------------*/

table {
  border-collapse: collapse;
  line-height: 1;
  width: 100%;
}

th, td {
  border-bottom: 1px solid #e5e5e5;
  padding: 4px;
  text-align: left;
  vertical-align: middle;
  width: 48px;
}

th:first-child {
  width: auto;
}

thead th:after {
  content: ':00';
}

thead th:first-child:after,
thead th:last-child:after {
  content: '';
}

tfoot td {
  padding: 10px 5px;
}

tbody th {
  font-weight: normal;
}

tbody td:nth-child(even) {
  background: #efefef;
}

tfoot th, tfoot td {
  background: none;
  border: 0;
}


/* Forms
----------------------------------------------------------------------------------------------------*/

.title label {
  display: none;
}

.task_title {
  background: -webkit-gradient(linear, 0% 0%, 0% 10%, from(#c3c3c3), to(#fff));
  background: -moz-linear-gradient(0% 10% 90deg, #fff, #c3c3c3);
  border: 1px solid #c3c3c3;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #7c7c7c;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Lucida Grande", "Lucida Sans", sans-serif;
  font-size: 11px;
  height: 23px;
  outline: none;
  overflow: hidden;
  padding: 4px;
  resize: none;
  width: 100%;
}

.task_title:focus {
  -webkit-box-shadow: 0 0 3px rgba(4, 175, 239, 1);
  -moz-box-shadow: 0 0 3px rgba(4, 175, 239, 1);
  box-shadow: 0 0 3px rgba(4, 175, 239, 1);
}

.task_title.has_value {
  background: #fff;
  border: 0;
  padding: 6px;
}

.task_title.has_value:hover {
  background: rgba(4, 175, 239, .1);
}

.inc {
  float: left;
  height: 20px;
  overflow: hidden;
  margin: 0 1px;
  width: 10px;
}

.inc label {
  background: #e6e6e6;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e5e5e5), to(#ebebeb));
  background: -moz-linear-gradient(19% 75% 90deg, #ebebeb, #e5e5e5);
  border: 1px solid #ccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: 100%;
  overflow: hidden;
  text-indent: -5000px;
  width: 100%;
}

.inc label:hover {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#cecece), to(#d9d9d9));
  background: -moz-linear-gradient(19% 75% 90deg, #ebebeb, #d9d9d9);
}

.inc input {
  display: none;
}

.active {
  background: #00d0f9;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#62cdf5), to(#04afef)) !important;
  background: -moz-linear-gradient(19% 75% 90deg, #04afef, #62cdf5) !important;
  border: 1px solid #00a7e6 !important;
}


/* Media Queries for Portable Devices
----------------------------------------------------------------------------------------------------*/

@media screen and (max-width:799px) {

  th, td {
    padding: 2px;
    text-align: center;
    width: 12px;
  }

  th:first-child,
  td:first-child {
    padding: 5px;
    text-align: left;
  }

  thead th:after {
    content: '';
  }

  .task_title {
    background: -webkit-gradient(linear, 0% 0%, 0% 3%, from(#c3c3c3), to(#fff));
    background: -moz-linear-gradient(0% 3% 90deg, #fff, #c3c3c3);
    height: 82px;
  }

  .inc {
    height: 20px;
    margin: 1px;
  }

}

@media screen and (max-device-width: 480px) {

  header {
    line-height: default;
  }

  h1 {
    float: none;
    font-size: 20px;
    margin-bottom: 5px;
    text-align: center;
  }

  h2#today {
    font-size: 12px;
    float: none;
    line-height: 2;
    text-align: center;
  }

}


/* Misc
----------------------------------------------------------------------------------------------------*/

tbody td::selection,
.inc::selection,
.inc label::selection {
  background-color: transparent;
}

.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}