/*
 *
 * Title:   Emergent Task Timer
 * Author:  Daniel Marino
 * Revised: August 2010
 *
 */

body {
  background: white;
  font-size: 10pt;
  margin: 0;
  padding: 0;
  width: 100%;
}

header {
  background: none;
  border: 1px solid black;
}

h1 {
  color: black;
  text-shadow: none;
}

h2#today {
  color: black;
}

.increment label,
#add_task, #clear_data {
  display: none;
}

.increment {
  overflow: normal;
}

.increment input {
  display: inline-block;
}

@media print and (max-width:8.5in) {

  th, td {
    padding: 2px;
    text-align: center;
    width: 16px;
  }

  th:first-child,
  td:first-child {
    padding: 5px;
    text-align: left;
  }

  thead th:after {
    content: '';
  }

  .task_title textarea {
    background: white;
    height: 80px;
  }

  .increment {
    height: 20px;
    margin: 1px;
  }

}